# Aliases for viewing images in mpv
alias img="mpv --keep-open=always" # stops before playing next
alias imga="mpv --keep-open" # autoplays next
alias imgs="mpv --keep-open=always --vo=sixel --really-quiet"
alias imgsa="mpv --keep-open --vo=sixel --really-quiet "

# Path
fish_add_path $HOME/.local/bin $HOME/.npm/bin $HOME/.cargo/bin $HOME/go/bin

# EDITOR
if type -q helix
    set -gx EDITOR helix
    alias hx=helix
else if type -q hx
    set -gx EDITOR hx
end

{{ if eq .chezmoi.os "linux" -}}
# flatpak path
fish_add_path $HOME/.local/share/flatpak/exports/bin
# xdg config folder
set -gx XDG_CONFIG_HOME $HOME/.config
# fcitx5
set -gx XMODIFIERS @im=fcitx
set -gx GTK_IM_MODULE fcitx
set -gx QT_IM_MODULE fcitx

if status is-interactive
    # GPG tui
    set -gx GPG_TTY (tty)
end

if status is-login
    if test /dev/tty1 = (tty)
        # start your fancy wm here
        # niri-session
    end
end
{{ else if eq .chezmoi.os "darwin" -}}
if type -q brew
    if not set -q HOMEBREW_COMMAND_NOT_FOUND_HANDLER
        set HOMEBREW_COMMAND_NOT_FOUND_HANDLER (brew --repository)/Library/Homebrew/command-not-found/handler.fish
        if test -f $HOMEBREW_COMMAND_NOT_FOUND_HANDLER
            source $HOMEBREW_COMMAND_NOT_FOUND_HANDLER
        end
    end
    if not type -q cargo; and brew list --version rustup >/dev/null
        fish_add_path (brew --prefix rustup)/bin
    end
end
{{ end -}}
